{% extends 'base.html' %}
{%  load static %}

{% block title  %}
    {% if category %}{{ category.name }}{% else %}Filmy{% endif %}
{% endblock %}

{% block content %}
    <div class="col-lg-4 col-md-4 col-sm-8 pb-4">
        <div class="card h-100 p-4">
            <h3>Gatunki</h3>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                        <a href="{% url "mspot:movie_list" %}">Wszystkie</a>
                    </li>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                     {% endfor %}
                </ul>
        </div>
    </div>


    <div id="main" class="product-list">
        <h3>{% if category %}{{ category.name }}{% else %}Filmy{% endif %}</h3>
        {% for movie in movies %}
            <div class="movie">
                <div class="col-lg-4 col-md-8 col-sm-20 pb-3">
                  <div class="card h-100 p-4">
                    <h4>{{movie.name}}</h4>
                      <div class="col-md-4">
                        <a href="{{ movie.get_absolute_url }}"><img src="{{ movie.movie_poster.url }}" alt="{{ movie.name }}"></a><br>
                        </div>
                    <p class="text-muted">{{movie.rezyser}} | {{movie.rok_produkcji}}</p>
                    <p>{{movie.movie_description}}</p>


                    {{ movie.price }} zł
                </a>
                  </div>
                </div>

            </div>
        {% endfor %}
    </div>

    <!-- Optional Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{%  endblock %}